<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
						   http://www.springframework.org/schema/context
                        http://www.springframework.org/schema/context/spring-context-4.0.xsd">
	<!-- <bean id="boy" class="cn.com.taiji.bean.Boy"> <constructor-arg name="sex" 
		value="nan"></constructor-arg> </bean> -->
	<!-- <bean id="boy1" class="cn.com.taiji.bean.Boy">
		<constructor-arg type="String" value="nannan"></constructor-arg>
	</bean> -->
	<context:component-scan
		base-package="cn.com.taiji.serives"></context:component-scan>


</beans>






